
.anchor-link{
    width: 44px;
    height: 44px;
    border: 2px solid #06A4DE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    transition: all .44s ease;
    &::after{
        content: '';
        display: block;
        background-image: url('../assets/icons/arrow-down.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 19px;
        height: 10px;
        z-index: 20;
    }
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100%;
        background-color: #06A4DE;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        transform: translateY(100%) scale(0.1);
        opacity: 0.1;
        transition: all .44s ease;
        z-index: 1;
    }
    &:hover{
        &::before{
            transform: translateY(0) scale(1);
            opacity: 1;
        }
    }
    @media only screen and (max-width: 768px){
        width: 34px;
        height: 34px;
        border-width: 1px;
        &::after{
            width: 15px;
            height: 8px;
        }
    }
}

.arrow{
    width: 22px;
    height: 22px;
    border: 2px solid #06A4DE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    transition: all .44s ease;
    transform: scale(0.6);
    &::after{
        content: '';
        display: block;
        background-image: url('../assets/icons/arrow-right.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 9px;
        width: 5px;
    }

}

@media only screen and (max-width: 599px){
    .single-project, .single-news{
        .arrow{
            display: none;
        }
    }
}

.single-project, .single-news{
    h5{
        text-decoration-color: #06A4DE !important;
        text-decoration-thickness: 2px !important;
        text-underline-offset: 8px !important;
    }
    .image-container{
        overflow: hidden;
        img{
            transition: all .8s ease;
            transform: scale(1);
        }
    }
    &:hover{
        .image-container{
            img{
                transform: scale(1.1);
            }
        }
        .title{
            h5{
                text-decoration-color: #06A4DE !important;
                text-decoration-thickness: 2px !important;
                text-underline-offset: 8px !important;
                text-decoration: underline;
                font-weight: 600;
            }
            .arrow{
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}


.single-news{
    img{
        width: 100%;
        aspect-ratio: 1 / 0.88;
    }
}


.marker{
    background-color: unset !important;
    background-image: url('../assets/icons/arena-loc.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}