.site-footer {
    .wysywig{
        *{
            color: #9A9A9A;
            font-size: 16px !important;
        }
        a{
            font-size: inherit;
            line-height: inherit;
            display: inline;
            text-decoration: underline;
            &::before, &::after{
                content: unset !important;
            }
        }
    }

    &__menu{
        li{
            a{
                @apply text-18 sm:text-16 leading-[2.2];
            }
        }
    }

    .heading{
        h1, h2, h3, h4, h5, h6{
            @apply text-white;
        }
    }
}
