::-moz-selection {
  text-shadow: none;
  background: #06A2DC;
  color: white;
}

::selection {
  text-shadow: none;
  background: #06A2DC;
  color: white;
}

html, 
body {
  font-size: 100%;
  color: #1A2E3B;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}


.wysywig a, .link{
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding-bottom: 2px;
  @apply text-16 md:text-18 2xl:text-20 tracking-wider;
  color: #1F282E;
  font-weight: 700;
  &::after, &::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    background-color: #06A2DC;
    height: 2px;
    border-radius: 2px;
    transition: all .44s ;
  }
  &::before{
    transform: translateX(calc(-100% - 15px));
  }
  &:hover{
    &::before{
      transform: translateX(0);
    }
    &::after{
      transform: translateX(calc(100% + 15px));
    }
  }
}

.wysywig{
  p, h1, h2, h3, h4, h5, h6{
    @apply text-blue-300;
    &:not(:last-child){
      margin-bottom: 24px !important
    }
  }
  p{
    @apply text-12/1.5 md:text-13/1.7 lg:text-14/1.7 xl:text-16/1.7 text-grey-200 tracking-[0.02em];
  }
  a{
    padding-bottom: 2px;
    @apply text-12/1.5 md:text-13/1.7 lg:text-14/1.7 -mb-8 md:-mb-11;
    &::after, &::before{
      height: 1px;
      @apply bottom-2 md:bottom-5
    }
  }
  ul{
    margin-bottom: 24px !important;
    li{
      padding-left: 15px;
      position: relative;
      margin-bottom: 3px;
      color: #6A6A6A;
      &:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: #06A2DC;
        margin-right: 5px;
        left: 0;
        top: 10px;
      }
    }
  }
  ol{
    list-style: decimal;
    padding-left: 30px;
    margin-bottom: 24px !important;
    li{
      padding-left: 15px;
      position: relative;
      margin-bottom: 3px;
      color: #6A6A6A;
      &::marker{
        color: #06A2DC;
        font-weight: 700;
      }
    }
  }
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1, .h1{
  @apply text-73 md:text-78 2xl:text-80 leading-1.5 text-blue-300;
}

h2, .h2{
  @apply text-30 md:text-40 xl:text-45 leading-1.3 tracking-[0.015em] text-blue-300;
}

h3, .h3{
  @apply text-25 md:text-34 2xl:text-36 leading-1.2 text-blue-300;
}

h4, .h4{
  @apply text-18 md:text-22 xl:text-24 2xl:text-26 leading-1.2 text-blue-300;
}

h5, .h5{
  @apply text-18 md:text-20 xl:text-21 2xl:text-22 leading-[1.45] text-blue-300 tracking-wide;
}

span{
  @apply leading-1.3;
}

.font-monaco{
  letter-spacing: 0.0021em;
  @apply text-10 md:text-12 2xl:text-16 leading-1.2;
}

@font-face {
  font-family: 'avant-garde';
  src: url('../assets/fonts/avant-garde.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avant-garde';
  src: url('../assets/fonts/avant-garde-bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Monaco';
  src: url('../assets/fonts/monaco.woff') format('woff');
}

*{
  font-family: 'avant-garde', 'sans-serif';
}

*[data-aos="custom-up"]{
  opacity: 0;
  transform: translateY(100%) scale(1.5);
  &.aos-animate{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

*[data-aos="bg-image-fade-in"]{
  transform: scale(2.5) translateY(20%);
  &.aos-animate{
    transform: scale(1) translateY(0);
  }
}

img{
  transition: all .45s ease-out;
}

